.about-container{
  padding-top: 200px;
  padding-bottom: 100px;
  display: block;
  padding-left: 75px;
  padding-right: 75px;

}

img{
  textAlign: center;
}

h1{
  color: #242124;
}

h2{
  font-weight: lighter;
  color: #242124;
}

p{
  font-family: sans-serif cursive;
}
